body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding: 0px;
}

.row{
    width: 100%;
    margin: 0px;
}

button {
    background-color: #2ea2d0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 20px 30px;
    font-size: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    border: 1px solid #2ea2d0;
    color: #2ea2d0;
    background-color: #fff;
}

p {
    text-transform: none;
}

/* header */
header{
    background: linear-gradient(315deg , #73acc7 56% , #c1e5f6 83%);
    width: 100%;
    position: relative;
}

.header{
    margin-top: 40px;
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
    font-weight: bold;
}

.col1 , .col2 , .col3 {
    padding: 0px;
}

.header .col2 p {
    width: 90%;
    text-align: center;
}

.header .col2 #dif {
    color: #0072a8;
}

.header .col1 img {
    width: 100%;
    position: absolute;
    margin-top : 30%;
}

.header .col2 img {
    width: 100%;
    position: relative;

}

.header .col2 #text {
    position: absolute;
    top: 38%;
    left: 24%;
    width: 45%;
    font-size: 44px;
    text-align: center;
    transform: rotate(347deg);
    color: #0072a8;
    font-weight: bolder;
}

.header .col3 img {
    width: 100%;
}

/* navbar */
nav {
    padding: 20px 0 !important;
}

nav ul li a {
    color: #fff !important;
    font-weight: bold;
    font-size: 17px;
    margin-left: 30px;
}

nav ul li a:hover {
    color: #0072a8 !important;
}

nav .navbar-toggler:hover {
    background-color: #2ea2d0;
}

/* our story section */
.story {
    margin-top: 150px;
}

.story p {
    font-size: 18px;
    color: #717171;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 55px;
}

.story #read {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: #2ea2d0;
    font-weight: 600;
    margin-left: 55px;
}

.story #head {
    text-align: center;
    margin-bottom: -195px;
    font-weight: bold;
}

.story #head span {
    color: #2ea2d0;
    font-size: 70px;
    text-transform: none;
    margin-left: 105px;
    margin-top: -15px;
    display: inline-block;
}
/* ingredient section */
.ingredient {
    background-image: url('../images/chickenBackground.png');
    text-align: center;
    color: #fff;
    background-size: cover;
    padding: 60px 0;
    margin-top: -205px;
}

.ingredient h2 {
    line-height: 1.5em;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.ingredient h2 #sechead {
    font-weight: bold;
    font-size: 60px;
}

.ingredient p {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    line-height: 2em;
}

/* start to life section */
.startLife {
    margin-top: 150px;
}

.startLife .col1 {
    margin-left: 100px;
    margin-top: 50px;
}

.startLife .col1 h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: bold;
}

.startLife .col1 p {
    color: #000;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 15px;
    margin: 30px 0;

}

/* about dog section */
.aboutDog{
    background-color: #f0f0f0;
    margin-top: 150px;
    padding: 100px 0;
    height: 365px;
    position: relative;
}

.aboutDog img {
    position: absolute;
    top: -192px;
}

.aboutDog h4 {
    line-height: 1.5em;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="search"] {
    border: none;
    background-color: #f0f0f0;
    border-bottom: 1px solid #000;
    width: 75%;
    margin-bottom: 20px;
}

input[type="search"]:focus {
    outline: none;
}

::placeholder {
    color: #b4b4b4;
    font-weight: bold;
}

.aboutDog i {
    margin-left: -15px;
    color: #b4b4b4;
}

.aboutDog p {
    color: #000;
    font-weight: bold;
    text-transform: none;
    font-size: 15px;
}

.aboutDog button:hover {
    background-color: #f0f0f0; 
}

/* food section */
.food {
    margin-top: 150px;
    margin-bottom: 150px;
} 

.food .col1 {
    margin-left: 70px;
} 
.food .col2 {
    margin-top: 30px;
    margin-left: -190px;
}

.food .col2 h3 {
    line-height: 1.5em;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.food .col2 p {
    line-height: 1.5em;
    font-size: 15px; 
    font-weight: bold;
    text-transform: none;
    margin-bottom: 20px;
}

/* footer */
.footer {
    background-image: url('../images/footer.png');
    padding-top: 30px;
    padding-right: 50px;
    background-size: cover;
    margin-bottom: 50px;
}

.footer img {
    margin-bottom: 20px;
    margin-left: 20px;
}

.footer .row1 {
    margin-bottom: 10px;
}
.footer .menu a:hover {
    color: #0072a8;
}

.row1 , .row2 , .row3 {
    margin-left: 50px;
}

.footer a  , #copy {
    color: #000;
    font-weight: bold;
}

.footer #copy {
    margin: 20px 0;
    font-size: 15px;
    text-transform: none;
}

.footer .social {
    margin: 12px 0;   
}

.footer .social .fa-circle{
    color: #2ea2d0;
}

.footer a {
    text-decoration: none;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    button {
        background-color: #2ea2d0;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
    }

    .header{
        font-size: 35px;
    }
    
    .header .col2 p {
        width: 70%;
        margin: auto;
    }
    
    .header .col1 img {
        display: none;
    }
    
    .header .col2 img {
        width: 70%;
        position: relative;
        display: block;
        margin: auto;
    }
    
    .header .col2 #text {
        position: absolute;
        top: 49%;
        left: 26%;
        font-size: 35px;
    }
    
    .header .col3 img {
        width: 70%;
        margin-left: auto;
        display: block;
    }
    
    /* navbar */
    nav {
        padding: 20px 15px !important;
    }

    nav .navbar-brand img {
        width: 70%;
    }
    
    /* our story section */
    .story {
        margin-top: 100px;
    }
    
    .story img {
        width: 70%;
    }

    .story p {
        margin-top: -20px;
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #read {
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #head {
        margin-bottom: -190px;
    }
    
    .story #head span {
        margin-left: 105px;
        margin-top: -15px;
        display: inline-block;
    }

    .story .col3 img {
        display: block;
        margin-top: 60px;
        margin-left: auto;
    }

    /* ingredient section */
    .ingredient {
        margin-top: 60px;
        background-position: center;
    }
    
    .ingredient h2 {
        font-size: 40px;
    }
    
    .ingredient h2 #sechead {
        font-size: 50px;
    }
    
    .ingredient p {
        width: 70%;
    }
    
    /* start to life section */
    .startLife {
        margin-top: 100px;
    }
    
    .startLife .col1 {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .startLife .col1 h3 {
        font-size: 45px;
    }
    
    .startLife .col1 p {
        color: #000;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 15px;
        margin: 30px 0;
    }

    .startLife img {
        margin-top: 80px;
        display: block;
        margin-left: auto;
        width: 70%;
    }
    
    /* about dog section */
    .aboutDog{
        margin-top: 100px;
        padding: 100px 50px;
        height: auto;
    }
    
    .aboutDog img {
        display: none;
    }
    
    .aboutDog h4 {
        margin-bottom: 40px;
    }
    
    input[type="search"] {
        margin-bottom: 40px;
    }
    
    .aboutDog .col3 h4 {
        margin-top: 100px;
    }

    .aboutDog p {
        margin-bottom: 40px;
    }
    
    /* food section */
    .food {
        margin-top: 100px;
    } 
    
    .food .col1 img{
        display: none;
    } 

    .food .col2 {
        margin-left: 0px;
        padding: 0 50px;
    }
    
    .food .col2 h3 {
        line-height: 1.5em;
        font-family: 'Amatic SC', cursive;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 40px;
        min-width: 100vw;
    }
    
    .food .col2 p {
        line-height: 1.5em;
        font-size: 15px; 
        font-weight: bold;
        text-transform: none;
        margin-bottom: 40px;
    }
    
    /* footer */
    .footer {
        margin-bottom: 0;
    }
    .footer img {
        display: none;
    }

    .footer a {
        font-size: 13px;
    }

    .footer .menu a {
        margin-left: 50px;
    }

    .footer #copy {
        margin-left: 20px;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .footer .social {
        margin-left: 230px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    button {
        background-color: #2ea2d0;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
    }

    .header{
        font-size: 35px;
    }
    
    .header .col2 p {
        width: 70%;
        margin: auto;
    }
    
    .header .col1 img {
        display: none;
    }
    
    .header .col2 img {
        width: 70%;
        position: relative;
        display: block;
        margin: auto;
    }
    
    .header .col2 #text {
        position: absolute;
        top: 49%;
        left: 26%;
        font-size: 35px;
    }
    
    .header .col3 img {
        width: 70%;
        margin-left: auto;
        display: block;
    }
    
    /* navbar */
    nav {
        padding: 20px 15px !important;
    }

    nav .navbar-brand img {
        width: 70%;
    }
    
    /* our story section */
    .story {
        margin-top: 100px;
    }
    
    .story img {
        width: 70%;
    }

    .story p {
        margin-top: -20px;
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #read {
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #head {
        margin-bottom: -190px;
    }
    
    .story #head span {
        margin-left: 105px;
        margin-top: -15px;
        display: inline-block;
    }

    .story .col3 img {
        display: block;
        margin-top: 60px;
        margin-left: auto;
    }

    /* ingredient section */
    .ingredient {
        margin-top: 60px;
        background-position: center;
    }
    
    .ingredient h2 {
        font-size: 40px;
    }
    
    .ingredient h2 #sechead {
        font-size: 50px;
    }
    
    .ingredient p {
        width: 70%;
    }
    
    /* start to life section */
    .startLife {
        margin-top: 100px;
    }
    
    .startLife .col1 {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .startLife .col1 h3 {
        font-size: 45px;
    }
    
    .startLife .col1 p {
        color: #000;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 15px;
        margin: 30px 0;
    }

    .startLife img {
        margin-top: 80px;
        display: block;
        margin-left: auto;
        width: 70%;
    }
    
    /* about dog section */
    .aboutDog{
        margin-top: 100px;
        padding: 100px 50px;
        height: auto;
    }
    
    .aboutDog img {
        display: none;
    }
    
    .aboutDog h4 {
        margin-bottom: 40px;
    }
    
    input[type="search"] {
        margin-bottom: 40px;
    }
    
    .aboutDog .col3 h4 {
        margin-top: 100px;
    }

    .aboutDog p {
        margin-bottom: 40px;
    }
    
    /* food section */
    .food {
        margin-top: 100px;
    } 
    
    .food .col1 img{
        display: none;
    } 

    .food .col2 {
        margin-left: 0px;
        padding: 0 50px;
    }
    
    .food .col2 h3 {
        line-height: 1.5em;
        font-family: 'Amatic SC', cursive;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 40px;
        min-width: 100vw;
    }
    
    .food .col2 p {
        line-height: 1.5em;
        font-size: 15px; 
        font-weight: bold;
        text-transform: none;
        margin-bottom: 40px;
    }
    
    /* footer */
    .footer {
        margin-bottom: 0;
    }
    .footer img {
        display: none;
    }

    .footer a {
        font-size: 13px;
    }

    .footer .menu a {
        margin-left: 50px;
    }

    .footer #copy {
        margin-left: 20px;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .footer .social {
        margin-left: 270px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    button {
        background-color: #2ea2d0;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
    }

    .header{
        font-size: 55px;
    }
    
    .header .col2 p {
        width: 70%;
        margin: auto;
    }
    
    .header .col1 img {
        display: none;
    }
    
    .header .col2 img {
        width: 70%;
        position: relative;
        display: block;
        margin: auto;
    }
    
    .header .col2 #text {
        position: absolute;
        top: 49%;
        left: 26%;
        font-size: 55px;
    }
    
    .header .col3 img {
        width: 70%;
        margin-left: auto;
        display: block;
    }
    
    /* navbar */
    nav {
        padding: 20px 15px !important;
    }

    nav .navbar-brand img {
        width: 70%;
    }
    
    /* our story section */
    .story {
        margin-top: 100px;
    }
    
    .story img {
        width: 70%;
    }

    .story p {
        margin-top: -20px;
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #read {
        padding: 0 50px;
        margin-left: 0px;
    }
    
    .story #head {
        margin-bottom: -190px;

    }
    
    .story #head span {
        margin-left: 105px;
        margin-top: -15px;
        display: inline-block;
    }

    .story .col3 img {
        display: block;
        margin-top: 60px;
        margin-left: auto;
    }

    /* ingredient section */
    .ingredient {
        margin-top: 60px;
        background-position: center;
    }
    
    .ingredient h2 {
        font-size: 50px;
    }
    
    .ingredient h2 #sechead {
        font-size: 60px;
    }
    
    .ingredient p {
        width: 70%;
    }
    
    /* start to life section */
    .startLife {
        margin-top: 100px;
    }
    
    .startLife .col1 {
        margin-left: 100px;
        margin-top: 50px;
    }
    
    .startLife .col1 h3 {
        font-size: 55px;
    }
    
    .startLife .col1 p {
        color: #000;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 18px;
        margin: 30px 0;
    }

    .startLife img {
        margin-top: 80px;
        display: block;
        margin-left: auto;
        width: 70%;
    }
    
    /* about dog section */
    .aboutDog{
        margin-top: 100px;
        padding: 100px 50px;
        height: auto;
    }
    
    .aboutDog img {
        display: none;
    }
    
    .aboutDog h4 {
        margin-bottom: 40px;
        font-size: 45px;
    }
    
    input[type="search"] {
        margin-bottom: 40px;
    }
    
    .aboutDog .col3 h4 {
        margin-top: 100px;
    }

    .aboutDog p {
        margin-bottom: 40px;
    }
    
    /* food section */
    .food {
        margin-top: 100px;
    } 
    
    .food .col1 img{
        display: none;
    } 

    .food .col2 {
        margin-left: 0px;
        padding: 0 50px;
    }
    
    .food .col2 h3 {
        line-height: 1.5em;
        font-family: 'Amatic SC', cursive;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 40px;
        min-width: 100vw;
    }
    
    .food .col2 p {
        line-height: 1.5em;
        font-size: 18px; 
        font-weight: bold;
        text-transform: none;
        margin-bottom: 40px;
    }
    
    /* footer */
    .footer {
        margin-bottom: 0;
    }
    .footer img {
        display: none;
    }

    .footer a {
        font-size: 15px;
    }

    .footer .menu a {
        margin-left: 50px;
    }

    .footer #copy {
        margin-left: 20px;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .footer .social {
        margin-left: 350px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* header */
    .header .col2 #text {
        position: absolute;
        top: 44%;
        left: 20%;
        width: 50%;
        font-size: 40px;
        text-align: center;
        transform: rotate(347deg);
        color: #0072a8;
        font-weight: bolder;
    }

    /* navbar */
    nav ul li a {
        font-size: 15px;
    }

    nav .navbar-brand img{
        width: 70%;
    }

    /* our story section */
    .story .col1 img , .story .col3 img{
        width: 90%;
    }

    .story p {
        font-size: 15px;
    }

    .story #read {
        font-size: 15px;
    }

    .story #head {
        text-align: center;
        margin-bottom: -129px;
        font-weight: bold;
    }

    .story #head span {
        color: #2ea2d0;
        font-size: 70px;
        text-transform: none;
        margin-left: 105px;
        margin-top: -15px;
        display: inline-block;
    }

    /* ingredient section */
    .ingredient {
        margin-top: -143px;
    }

    .ingredient h2 {
        font-size: 40px;
    }

    .ingredient h2 #sechead {
        font-size: 50px;
    }

    /* start to life section */
    .startLife .col1 h3 {
        font-size: 50px;
    }

    /* about dog section */
    .aboutDog{
        padding: 100px 50px;
    }

    .aboutDog h4 {
        font-size: 30px;
    }

    /* food section */
    .food .col2 h3 {
        font-size: 35px;
    }

    /* footer */
    .footer {
        margin-bottom: 30px;
    }
    .footer img {
        margin-bottom: 20px;
        margin-left: 30px;
        width: 70%;
    }

    .footer .row1 {
        margin-bottom: 10px;
    }
    
    .footer .menu a:hover {
        color: #0072a8;
    }

    .row1 , .row2 , .row3 {
        margin-left: 60px;
    }

    .footer a  , .footer #copy {
        color: #000;
        font-weight: bold;
        font-size: 13px;
    }

    .footer #copy {
        margin: 20px 0;
        text-transform: none;
    }

    .footer .social {
        margin: 23px 0;   
    }
}






